<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>思悦智能社区管理系统</title>
    <link href="./node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="./public/font/iconfont.css">
    <link rel="icon" href="./public/img/icon.png">
    <link rel="stylesheet" href="./node_modules/layui-src/dist/css/layui.css">
    <link rel="stylesheet" href="./public/css/main.css">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">
                        <img src="./public/img/logo.png" width="150" height="24" alt="">
                    </a>
                    <span class="header_title">&emsp;|&emsp;可视对讲机系统</span>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right ul_right_style">
                        <li class="parent_li">
                            <div v-if="idShowName">
                                <span class="span_name_style">
                                    欢迎您：
                                    <b class="username_style">{{loginQueryInfo.username}}</b>
                                </span>
                                <ul class="downUlList">
                                    <li @click="signOut">退出</li>
                                </ul>
                            </div>
                            <div v-else>
                                <span class="span_name_style">
                                    暂未登录
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li :class="showComponentValue==1?'active':''" @click="toggleComponent" value="1"><a><i class="iconfont icon-loumian"></i>住户管理</a></li>
                        <li :class="showComponentValue==2?'active':''" @click="toggleComponent" value="2"><a><i class="iconfont icon-shipinjiankong"></i>视频监控</a></li>
                        <li :class="showComponentValue==3?'active':''" @click="toggleComponent" value="3"><a><i class="iconfont icon-duijiangjiankong"></i>可视对讲</a></li>
                        <li :class="showComponentValue==4?'active':''" @click="toggleComponent" value="4"><a><i class="iconfont icon-baojing"></i>报警查询</a></li>
                        <li :class="showComponentValue==5?'active':''" @click="toggleComponent" value="5"><a><i class="iconfont icon-shebei"></i>在线设备</a></li>
                        <!--<li :class="showComponentValue==6?'active':''" @click="toggleComponent" value="6"><a><i class="iconfont icon-loumian"></i>预约门禁</a></li>-->
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <index-control v-show="showComponentValue==1"></index-control>
                    <watch-component v-show="showComponentValue==2"></watch-component>
                    <intercom-component v-show="showComponentValue==3"></intercom-component>
                    <call-police-component ref="policeCom" v-show="showComponentValue==4"></call-police-component>
                    <all-online-component v-show="showComponentValue==5"></all-online-component>
                    <!--<appointment-access v-show="showComponentValue==6"></appointment-access>-->
                </div>
            </div>
        </div>
        <audio id="audio-player" loop="loop" hidden="true">
            <source src="./public/audio/zhuren.mp3" type="audio/mpeg">
        </audio>
        <audio id="police-player" loop="loop" hidden="true">
            <source src="./public/audio/baojing.mp3" type="audio/mpeg">
        </audio>

        <!--login弹框-->
        <!--<div class="Intercom_box_bg" v-show="!idShowName">-->
        <div class="Intercom_box_bg" v-show="idShowName">
            <div class="Intercom_box_main">
                <div class="Intercom_big_title">
                    思悦可视对讲管理系统
                </div>
                <div class="Intercom_content_box">
                    <div class="Intercom_header_title">登录</div>
                    <div class="Intercom_body_main">
                        <form class="form-horizontal" id="loginForm">
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-sm-2 control-label">账号</label>
                                <div class="col-sm-6">
                                    <input type="text" v-model="loginInfo.username" name="admin" class="form-control">
                                </div>
                            </div>
                            <div class="form-group marginTop_Intercom">
                                <label class="col-sm-offset-1 col-sm-2 control-label">密码</label>
                                <div class="col-sm-6">
                                    <input type="text" v-model="loginInfo.password" name="password" class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="submitInfo" class="btn btn-success self_btn">登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>window.$ = window.jQuery = require('./public/js/jquery.js');</script>
    <script>
        let documentJq;
        $(document).ready(function(){
            documentJq = $(this);
        });
    </script>
    <script src="./renderer.js"></script>
    <script src="./public/js/vue.js"></script>
    <script src="./public/js/http-vue-loader.js"></script>
    <script src="./public/js/qrcode.js"></script>
    <script src="./node_modules/axios/dist/axios.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./node_modules/layui-src/dist/layui.js"></script>
    <script src="./network/request.js"></script>
    <script>
        let requests = new Request();

        layui.use(['layer', 'form'],function(){
            let layer = layui.layer;

            Vue.use(httpVueLoader);

            let vueApp =new Vue({
                el:"#app",
                components:{
                    'index-control':'url:./view/index-control.vue',
                    'watch-component':'url:./view/watch-component.vue',
                    'intercom-component':'url:./view/videoIntercom-component.vue',
                    'call-police-component':'url:./view/call-police-component.vue',
                    'all-online-component':'url:./view/online-component.vue',
                    /*'appointment-access':'url:./view/appointment-access.vue',*/
                },
                data:{
                    showComponentValue:1,
                    loginQueryInfo:{},  //登录返回信息
                    loginInfo:{
                        username:"",
                        password:"",
                    }
                },
                async mounted(){
                    //传递给sendMediaStream函数
                    this.sendMediaStream();
                },
                computed:{
                    idShowName(){
                        let name = this.loginQueryInfo.username;
                        return name?true:false;
                    }
                },
                methods:{
                    signOut(){ //退出登录
                        this.loginQueryInfo = {};
                    },
                    toggleComponent(event){
                        let El = $(event.currentTarget);
                        this.showComponentValue = El.attr("value");
                    },
                    sendMediaStream(localStream,remoteStream){
                        //将媒体流对象发送给客户端
                        $(documentJq).trigger("getVueLayerObj",[this,layer]);
                    },
                    submitInfo(){
                        let _that = this;
                        if(!_that.adminVal(_that.loginInfo.username)){
                            return requests.failMsgInfo(layer,"用户名只能由字母数字下划线组成");
                        }else if(!_that.pasVal(_that.loginInfo.password)){
                            return requests.failMsgInfo(layer,"密码只能输入6-20个字母、数字、下划线");
                        }else{
                            requests.requestPost("/loginOperation",_that.loginInfo).then(res => {
                                let obj = res.data;
                                if(obj.code == 0 && obj.loginInfo.length != 0){
                                    let loadIndex = layer.load(2);
                                    sessionStorage.setItem("loginInfo",JSON.stringify(obj.loginInfo[0]));
                                    setTimeout(function(){
                                        layer.close(loadIndex);
                                        _that.loginQueryInfo = obj.loginInfo[0];
                                        $(".Intercom_box_bg").hide(600);
                                        _that.loginInfo = {username:"",password:""};
                                    },3000);
                                }else{
                                    requests.failMsgInfo(layer,"用户名或者密码错误！");
                                }
                            });
                        }
                    },
                    adminVal(value){
                        let adminReg = /^[a-zA-Z0-9_]{1,}$/;
                        if(!adminReg.test(value)){
                            return false;
                        }else{
                            return true;
                        }
                    },
                    pasVal(value){
                        let passwordReg = /^(\w){6,20}$/;
                        if(!passwordReg.test(value)){
                            return false;
                        }else{
                            return true;
                        }
                    }
                }
            })
        });
    </script>
</body>
</html>
