<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>思悦智能社区管理系统</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/font/iconfont.css">
    <link rel="icon" href="../public/img/icon.png">
    <link rel="stylesheet" href="../node_modules/layui-src/dist/css/layui.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/unitPeoplePage.css">
</head>
<body>
    <div id="appPeopleBox">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-search-fieldset">
                                <span class="search_box_number"><span class="tung_color_font">{{floorName}}</span>下搜索门牌号</span>
                                <div class="fromSearch">
                                    <form class="form-horizontal row">
                                        <div class="form-group col-xs-3">
                                            <label class="col-sm-4 control-label padding_left_right">单元门</label>
                                            <div class="col-sm-8">
                                                <select name="unit_id" v-model="searchObj.currentUnit" id="element_tung" class="form-control">
                                                    <option v-for="(item,index) in listSearchUnit" :selected="index==0?'true':''"  :value="item.id">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4">
                                            <label class="col-sm-3 control-label padding_left_right">门牌号</label>
                                            <div class="col-sm-9">
                                                <input type="text" v-model="searchObj.currentHouse" name="home_number" autocomplete="off" class="form-control"
                                                       placeholder="请按照‘1001’格式进行搜索。">
                                            </div>
                                        </div>
                                        <div class="form-group btn_block_box_submit col-xs-2">
                                            <button type="button" @click="searchResult" class="layui-btn btn-search-style">搜索</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row placeholders">
                                <div class="col-xs-12 col-sm-12 placeholder">
                                    <!--单元门-->
                                    <div class="title_row_style clearfix">
                                        <div class="floor_title">
                                            <i class="iconfont icon-8"></i>
                                            <span class="title_index">单元门</span>
                                        </div>
                                        <ul class="clearfix list_all_item" id="select_unit_all">
                                            <li @click="showHouse" v-for="(item,index) in listSearchUnit" :id="item.id">{{item.name}}</li>
                                        </ul>
                                    </div>
                                    <!--门牌号-->
                                    <div class="title_row_style clearfix">
                                        <div class="floor_title">
                                            <i class="iconfont icon-fl-jia"></i>
                                            <span class="title_index">门牌号</span>
                                        </div>
                                        <ul class="clearfix list_all_item scroll_ul" id="house_list">
                                            <li v-for="(item,index) in listHouse">
                                                <span @click="navigatorDetail(item.id,item.house_number)">
                                                    {{item.house_number}}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/js/jquery.js"></script>
    <script>window.$</script>
    <script src="../public/js/vue.js"></script>
    <script src="../node_modules/axios/dist/axios.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/layui-src/dist/layui.js"></script>
    <script src="../network/request.js"></script>
    <script>
        let requests = new Request();

        layui.use(['layer', 'form'],function() {
            let layer = layui.layer,
                form = layui.form;

            new Vue({
                el: "#appPeopleBox",
                data: {
                    floorName:"",   //楼栋名称
                    floorId:null,   //楼栋id
                    unitId:null,    //单元门id
                    listSearchUnit:[],  //单元门数组
                    listHouse:[],   //门牌号数组
                    searchObj:{
                        currentUnit:null,   //当前选中的单元
                        currentHouse:null,  //当前选中的门牌号
                    },
                },
                created(){
                    this.floorName = decodeURIComponent(this.getQueryVariable("name"));
                    this.floorId = decodeURIComponent(this.getQueryVariable("id"));
                    this.init();
                },
                methods:{
                    init(){
                        let _that = this;
                        requests.requestGet("/selectGetUnit?tung_id="+_that.floorId).then(res => {
                            let obj = res.data;
                            if(obj.code == 0){
                                _that.listSearchUnit = obj.unitList;
                            }
                        })
                    },
                    showHouse(event){    //展示单元门下的所有门牌号
                        let _that = this;
                        let liEl = $(event.currentTarget);
                        liEl.parent().find(".active").removeClass('active');
                        liEl.addClass('active');
                        _that.unitId = liEl.parent().find(".active").attr("id");
                        requests.requestGet("/getHouseAll?tung_id="+_that.floorId+"&unit_id="+_that.unitId).then(res => {
                            let obj = res.data;
                            if(obj.code == 0){
                                _that.listHouse = obj.houseAllList;
                            }
                        });
                    },
                    navigatorDetail(id,name){  //打开住户详情弹框
                        let _that = this;
                        var index = layer.open({
                            title: '住户详情',
                            type: 2,
                            shade: 0.2,
                            maxmin:true,
                            shadeClose: true,
                            area: ['90%', '90%'],
                            content:"./userdetail.html?id="+id+"&name="+name+"&tung_id="+_that.floorId+"&unit_id="+_that.unitId,
                        });
                    },
                    searchResult(){  //搜索门牌号
                        let _that = this;
                        if(this.searchObj.currentHouse != null){
                            let objectAll = {
                                unit_id:_that.searchObj.currentUnit,
                                alias_name:_that.searchObj.currentHouse,
                                tung_id:_that.floorId
                            };
                            requests.requestPost("/searchHouse",objectAll).then(res => {
                                let obj = res.data;
                                if(obj.code == 0){
                                    _that.listHouse = obj.houseList;
                                }
                            });
                        }else{
                            requests.failMsgInfo(layer,"门牌号不能为空！");
                        }
                    },
                    getQueryVariable(variable){
                        var query = window.location.search.substring(1);
                        var vars = query.split("&");
                        for (var i=0;i<vars.length;i++) {
                            var pair = vars[i].split("=");
                            if(pair[0] == variable){return pair[1];}
                        }
                        return(false);
                    },
                }
            });
        });
    </script>
</body>
</html>