<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>思悦智能社区管理系统</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/font/iconfont.css">
    <link rel="icon" href="../public/img/icon.png">
    <link rel="stylesheet" href="../node_modules/layui-src/dist/css/layui.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/userdetail.css">
</head>
<body>
    <div id="appDetail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 main">
                    <div class="row headerBgColor">
                        <div class="col-sm-12">
                            <span class="user_munber">门牌号：{{houseName}}</span>
                            <div class="layout_block_box">
                                <div class="row home_info_block clearfix">
                                    <div class="clearfix title-base-info">
                                        <div class="base_info_title pull-left">基本信息:</div>
                                        <button class="btn btn-success btn-sm pull-right base_info_model" @click="editHouseInfo" :id="houseInfo.id" data-toggle="modal">编辑</button>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-20">
                                        <span class="label_style">房号：</span>
                                        <span class="value_style">{{houseName}}</span>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-20">
                                        <span class="label_style">小区名称：</span>
                                        <span class="value_style">{{areaName}}</span>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-20">
                                        <span class="label_style">入住人数：</span>
                                        <span class="value_style">{{peopleInfoList.length}}</span>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-20">
                                        <span class="label_style">入住日期：</span>
                                        <span v-if="baseInfos.check_date" class="value_style">{{baseInfos.check_date}}</span>
                                        <span v-else class="value_style">暂无</span>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-20">
                                        <span class="label_style">房屋面积：</span>
                                        <span v-if="baseInfos.home_measure" class="value_style">
                                            {{baseInfos.home_measure}}㎡
                                        </span>
                                        <span v-else class="value_style">暂无</span>
                                    </div>
                                    <div class="col-sm-6 col-md-5 mb-20">
                                        <span class="label_style">小区地址：</span>
                                        <span v-if="areaAddress" class="value_style">
                                            {{areaAddress}}
                                        </span>
                                        <span v-else class="value_style">暂无</span>
                                    </div>
                                    <div class="col-sm-12 col-md-12 mb-20">
                                        <span class="label_style">备注：</span>
                                        <span v-if="baseInfos.remarks_msg" class="value_style">
                                            {{baseInfos.remarks_msg}}
                                        </span>
                                        <span v-else class="value_style">暂无</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layout_block_box mt-30">
                                <div class="row home_info_block clearfix">
                                    <div class="clearfix title-base-info">
                                        <div class="base_info_title pull-left">入住人员:</div>
                                        <button class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#addUserInfo">添加</button>
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr class="text-center">
                                        <th>姓名</th>
                                        <th>角色</th>
                                        <th>性别</th>
                                        <th>年龄</th>
                                        <th>手机号</th>
                                        <th>身份证号</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody class="user_list_body">
                                        <tr v-for="item in peopleInfoList" class="text-center">
                                            <td>{{item.username}}</td>
                                            <td>{{item.role | rolePeople}}</td>
                                            <td>{{item.gender | genderPeople}}</td>
                                            <td>{{item.age}}</td>
                                            <td>{{item.phone}}</td>
                                            <td>{{item.id_number}}</td>
                                            <td>
                                                <button class="btn btn-success btn-sm editUser_info" @click="showPeopleInfo" :id="item.id" data-toggle="modal">编辑</button>
                                                <button class="btn btn-danger btn-sm deleteUser_info" @click="deletePeople" :id="item.id">删除</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--编辑用户基本信息弹框-->
        <div class="modal fade" id="userBaseInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">编辑基本信息</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="baseInfoForm">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">房号</label>
                                <div class="col-sm-10">
                                    <input type="text" :value="houseName" name="home_number" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">小区名称</label>
                                <div class="col-sm-10">
                                    <input type="text" :value="areaName" name="area_name" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">小区地址</label>
                                <div class="col-sm-10">
                                    <input type="text" :value="areaAddress" name="home_attr" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">入住日期</label>
                                <div class="col-sm-10">
                                    <input type="date" v-model="baseInfos.check_date" name="check_date" class="form-control"  placeholder="请选择日期">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">房屋面积</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="baseInfos.home_measure" name="home_measure" class="form-control" placeholder="请输入住房面积">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注信息</label>
                                <div class="col-sm-10">
                                    <textarea name="remarks_msg" v-model="baseInfos.remarks_msg" class="form-control"  rows="4" maxlength="100"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="baseFormSubmitInfo" class="btn btn-success">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--添加入住人员-->
        <div class="modal fade" id="addUserInfo" tabindex="-1" role="dialog" aria-labelledby="addUser">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addUser">添加入住人员</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="comeInPeopleInfos.username" name="username" class="form-control"  placeholder="请输入姓名">
                                </div>
                            </div>
                            <div class="form-group" id="select_gender">
                                <label class="col-sm-2 control-label">性别</label>
                                <div class="radio col-sm-10">
                                    <label>
                                        <input class="form-check-input" type="radio" v-model="comeInPeopleInfos.gender" name="gender" value="1" checked>男
                                        &emsp;
                                        <input class="form-check-input" type="radio" v-model="comeInPeopleInfos.gender" name="gender" value="2" >女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">年龄</label>
                                <div class="col-sm-10">
                                    <input type="number" v-model="comeInPeopleInfos.age" name="age" class="form-control" placeholder="请输入年龄">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机号</label>
                                <div class="col-sm-10">
                                    <input type="number" v-model="comeInPeopleInfos.phone" name="phone" minlength="11" maxlength="11" class="form-control" placeholder="请输入住户的手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">入住角色</label>
                                <div class="col-sm-10">
                                    <div class="layui-input-block" style="margin-left:0;">
                                        <select v-model="comeInPeopleInfos.role" name="role" class="form-control">
                                            <option value="0" selected>--请选择--</option>
                                            <option value="1">业主</option>
                                            <option value="2">老婆</option>
                                            <option value="3">儿子</option>
                                            <option value="4">女儿</option>
                                            <option value="5">爷爷</option>
                                            <option value="6">奶奶</option>
                                            <option value="7">其他</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">身份证号</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="comeInPeopleInfos.id_number" name="id_number" class="form-control" placeholder="请输入住户的身份证号">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="addComeInPeople"  class="btn btn-success">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--编辑入住人员-->
        <div class="modal fade" id="editUserInfo" tabindex="-1" role="dialog" aria-labelledby="editUser">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editUser">编辑入住人员</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="editUserPeopleInfo">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="peopleEditInfo.username" name="username" class="form-control"  placeholder="请输入姓名">
                                </div>
                            </div>
                            <div class="form-group" id="editPeopleInfo">
                                <label class="col-sm-2 control-label">性别</label>
                                <div class="radio col-sm-10" id="selectRadioChange">
                                    <label>
                                        <input type="radio" v-model="peopleEditInfo.gender" label="男" name="gender" value="1" checked>男
                                        &emsp;
                                        <input type="radio" v-model="peopleEditInfo.gender" label="女" name="gender" value="2">女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">年龄</label>
                                <div class="col-sm-10">
                                    <input type="number" v-model="peopleEditInfo.age" name="age" class="form-control" placeholder="请输入年龄">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机号</label>
                                <div class="col-sm-10">
                                    <input type="number" v-model="peopleEditInfo.phone" name="phone" minlength="11" maxlength="11" class="form-control" placeholder="请输入住户的手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">入住角色</label>
                                <div class="col-sm-10">
                                    <div class="layui-input-block" style="margin-left:0;">
                                        <select name="role" class="form-control" v-model="peopleEditInfo.role" id="selectRoleElement">
                                            <option value="0">--请选择--</option>
                                            <option value="1">业主</option>
                                            <option value="2">老婆</option>
                                            <option value="3">儿子</option>
                                            <option value="4">女儿</option>
                                            <option value="5">爷爷</option>
                                            <option value="6">奶奶</option>
                                            <option value="7">其他</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">身份证号</label>
                                <div class="col-sm-10">
                                    <input type="text" name="id_number" v-model="peopleEditInfo.id_number" class="form-control" placeholder="请输入住户的身份证号">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="editSubmitInfo" class="btn btn-success">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../public/js/jquery.js"></script>
    <script>window.$</script>
    <script src="../public/js/vue.js"></script>
    <script src="../node_modules/axios/dist/axios.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/layui-src/dist/layui.js"></script>
    <script>
        layui.use(['layer', 'form'], function(){
            let layer = layui.layer,
                form = layui.form;

            new Vue({
                el:"#appDetail",
                data:{
                    houseInfo:{},           //门牌号信息(非详情信息)
                    peopleInfoList:[],      //入住人员数组
                    houseName:"",   //门牌号名称
                    houseId:null,   //门牌号id
                    floorId:null,   //楼栋id
                    unitId:null,    //单元门id
                    areaName:"",    //小区名称
                    areaAddress:"", //小区地址
                    baseURL:"http://localhost:43839", //全局网址
                    baseInfos:{  //门牌号基本信息
                        house_number:"",
                        check_date:"",
                        home_measure:"",
                        remarks_msg:"",
                        house_id:null,
                        id:null,
                    },
                    comeInPeopleInfos:{  //添加入住人员
                        username:"",
                        gender:"1",
                        age:"",
                        phone:"",
                        role:"",
                        id_number:"",
                        house_id:"",
                        id:null
                    },
                    peopleEditInfo:{ //添加入住人员
                        id:null,
                        username:"",
                        gender:"1",
                        age:"",
                        phone:"",
                        role:"",
                        id_number:"",
                        house_id:"",
                    },
                    id:null,
                },
                created(){
                    this.houseId = this.getQueryVariable("id");
                    this.houseName = this.getQueryVariable("name");
                    this.floorId = this.getQueryVariable("tung_id");
                    this.unitId = this.getQueryVariable("unit_id");
                    this.init(this.houseId);
                },
                filters:{
                    rolePeople:function(value){
                        if(value == 1){
                            return "业主";
                        }else if(value == 2){
                            return "老婆";
                        }else if(value == 3){
                            return "儿子";
                        }else if(value == 4){
                            return "女儿";
                        }else if(value == 5){
                            return "爷爷";
                        }else if(value == 6){
                            return "奶奶";
                        }else if(value == 7){
                            return "其他";
                        }else{
                            return value;
                        }
                    },
                    genderPeople:function(value){
                        if(value == 1){
                            return "男";
                        }else if(value == 2){
                            return "女";
                        }else{
                            return value;
                        }
                    }
                },
                methods:{
                    getQueryVariable(variable){
                        var query = window.location.search.substring(1);
                        var vars = query.split("&");
                        for (var i=0;i<vars.length;i++) {
                            var pair = vars[i].split("=");
                            if(pair[0] == variable){return pair[1];}
                        }
                        return(false);
                    },
                    editHouseInfo(event){ //回显门牌号对应信息
                        let liEl = $(event.currentTarget);
                        // let id = liEl.attr("id");
                        let elForm = $("#baseInfoForm");
                        liEl.attr("data-target","#userBaseInfo");
                        /*axios.get(this.baseURL+"/getBaseInfoData?id="+id).then(res => {
                            let obj = res.data.baseInfo;
                            this.baseInfos = obj;
                        })*/
                    },
                    baseFormSubmitInfo(){  //编辑基本信息的提交事件
                        let _that = this;
                        if(_that.baseInfos.check_date == "" || _that.baseInfos.home_measure == "" || _that.baseInfos.remarks_msg == ""){
                            return layer.msg("请将住户基本信息填写完整!",{icon: 5, time: 2000, anim: 6});
                        }else{
                            _that.baseInfos.house_number = _that.houseName;
                            axios.post(this.baseURL+"/updateBaseInfo",this.baseInfos).then(res => {
                                let obj = res.data;
                                if(obj.code ==0){
                                    layer.msg("编辑成功",{icon:6,time:2000});
                                    //1.关闭弹出框
                                    $("#userBaseInfo").modal('hide');
                                }
                            })
                        }
                    },
                    addComeInPeople(){ //添加入住人员
                        let _this = this;
                        this.comeInPeopleInfos.house_id = _this.houseId;
                        this.comeInPeopleInfos.tung_id = _this.floorId;
                        this.comeInPeopleInfos.unit_id = _this.unitId;
                        if(_this.comeInPeopleInfos.phone){
                            if(!_this.testPhone(_this.comeInPeopleInfos.phone)){
                                return layer.msg("请输入正确的手机号",{icon:5,time:2000,anim:6});
                            }
                        }
                        if(this.comeInPeopleInfos.username == "" || this.comeInPeopleInfos.age == ""){
                            return layer.msg("请填写住户名称和年龄",{icon:5,time:2000,anim:6});
                        }else if(this.comeInPeopleInfos.role == 0){
                            return layer.msg("请选择住户角色",{icon:5,time:2000,anim:6});
                        }else if(!this.testIdNumber(this.comeInPeopleInfos.id_number)){
                            return layer.msg("请输入合法的身份证号",{icon:5,time:2000,anim:6});
                        }else{
                            axios.post(_this.baseURL+"/addUserInfo",_this.comeInPeopleInfos).then(res => {
                                let obj = res.data;
                                if(obj.code == 0){
                                    layer.msg("添加成功",{icon:6,time:2000});
                                    //1.关闭弹出框
                                    $("#addUserInfo").modal('hide');
                                    //添加id
                                    _this.comeInPeopleInfos.id = obj.id;
                                    //2.push对象
                                    _this.peopleInfoList.push(_this.comeInPeopleInfos);
                                    //3.清空对象
                                    _this.comeInPeopleInfos = {
                                        username:"",
                                        gender:"1",
                                        age:"",
                                        phone:"",
                                        role:"",
                                        id_number:"",
                                        house_id:"",
                                        id:null
                                    }
                                }else{
                                    layer.msg("添加失败",{icon:5,time:2000,anim:6});
                                }
                            })

                        }
                    },
                    deletePeople(event){  //删除入住人员
                        let El = $(event.currentTarget);
                        let id = El.attr("id");
                        let _this = this;
                        layer.confirm("是否删除该住户人员？",
                            {title:"删除住户",icon:3},
                            function(index){
                                layer.close(index);
                                axios.get(_this.baseURL+"/deleteUserInfo?id="+id).then(res => {
                                    let obj = res.data;
                                    if(obj.code == 0){
                                        layer.msg("删除成功",{icon:6,time:2000});
                                        let i = _this.peopleInfoList.findIndex((item) => {
                                            return item.id == id;
                                        });
                                        _this.peopleInfoList.splice(i,1);
                                    }
                                });
                            }
                        )
                    },
                    showPeopleInfo(event){  //回显编辑入住人员信息
                        let El = $(event.currentTarget);
                        let id = El.attr('id');
                        let _this = this;
                        El.attr("data-target","#editUserInfo");
                        axios.get(this.baseURL+"/showUserInfo?id="+id).then(res => {
                            let obj = res.data;
                            if(obj.code == 0){
                                obj.userInfo.gender = _this.transformationSex(obj.userInfo.gender);
                                obj.userInfo.role = _this.transformationRole(obj.userInfo.role);
                                _this.peopleEditInfo = obj.userInfo;
                            }
                        })
                    },
                    editSubmitInfo(){  //编辑入住人员提交事件
                        let _this = this;
                        if(_this.peopleEditInfo.phone){
                            if(!_this.testPhone(_this.peopleEditInfo.phone)){
                                return layer.msg("请输入正确的手机号",{icon:5,time:2000,anim:6});
                            }
                        }
                        if(_this.peopleEditInfo.username == "" || _this.peopleEditInfo.age == ""){
                            return layer.msg("请填写住户名称和年龄",{icon:5,time:2000,anim:6});
                        }else if(_this.peopleEditInfo.role == 0){
                            return layer.msg("请选择住户角色",{icon:5,time:2000,anim:6});
                        }else if(!_this.testIdNumber(_this.peopleEditInfo.id_number)){
                            return layer.msg("请输入合法的身份证号",{icon:5,time:2000,anim:6});
                        }else{
                            axios.post(_this.baseURL+"/editUserPeopleInfo",_this.peopleEditInfo).then(res => {
                                let obj = res.data;
                                if(obj.code == 0){
                                    layer.msg("编辑成功",{icon:6,time:2000});
                                    $("#editUserInfo").modal('hide');
                                    _this.init(_this.houseId);
                                }else{
                                    layer.msg("编辑失败",{icon:5,time:2000,anim:6});
                                }
                            });
                        }
                    },
                    testPhone(value){
                        if(/^1[3456789]\d{9}$/.test(value)){
                            return true;
                        }else{
                            return false;
                        }
                    },
                    testIdNumber(value){
                        if(/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/.test(value)){
                            return true;
                        }else{
                            return false;
                        }
                    },
                    transformationSex(value){
                        if(value == "男"){
                            return 1;
                        }else{
                            return 2;
                        }
                    },
                    transformationRole(value){
                        switch (value) {
                            case "业主":
                                return 1;
                            case "老婆":
                                return 2;
                            case "儿子":
                                return 3;
                            case "女儿":
                                return 4;
                            case "爷爷":
                                return 5;
                            case "奶奶":
                                return 6;
                            default:
                                return 7;
                        }
                    },
                    init(id){
                        let _that = this;
                        axios.get(this.baseURL+"/userdetail/"+id).then(res => {
                            let obj = res.data;
                            if(obj.code == 0){
                                //获取门牌号信息
                                _that.houseInfo = obj.houseInfo;
                                //获取门牌号内部详情信息
                                _that.baseInfos = obj.houseInfoOne[0]?obj.houseInfoOne[0]:_that.baseInfos;
                                //获取门牌号下入住人员表
                                this.peopleInfoList = obj.peopleInfoList;
                                //获取小区名称
                                _that.areaName = obj.getAreaInfo[0]?obj.getAreaInfo[0].area_name:"";
                                //获取小区地址
                                _that.areaAddress = obj.getAreaInfo[0]?obj.getAreaInfo[0].area_address:"";
                            }
                        });
                    }
                }
            })
        });
    </script>
</body>
</html>